* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner {
    min-height: 78vh;
    max-height: auto;
    background-color: rgb(226, 225, 225);
    display: flex;
    flex-direction: column;
}
.encuesta{
    background-color: blueviolet;
    background-color: #333a42;
    opacity: .8;
    box-shadow: 0px 0px 7px #848484;
    border-radius: .5rem;
    margin: 20px auto;
    min-width: 220px;
    max-width: 420px;
}
input{
    height: 32px;
    font-size: 17px;
    border:0;
    border-radius: 6px;
    text-align: center;
    
}
select{
    height: 30px;
    font-size: 17px;
    border:0;
    border-radius: 6px;
    text-align: center;
}

/*.formulario{
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-bottom: 0;
}*/
.formulario{
    display: grid;
    grid-template-columns: 47% 53%;
    padding: 16px;
    padding-bottom: 0;
}
label{
    padding-bottom: 6px;
    font-size: 18px;
    color: white;
}

#botones{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    column-gap: 15px;
    padding-bottom: 15px;
    font-size: 18px;
}
#botones>input:hover{
    background-color: #02b8b8;
    font-weight: bold;
}
#comentario{
    height: 3em;
    text-align: center;
}

@media screen and (min-width:768px){
    
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    
}
@media screen and (max-width: 480px) {
    /* Del formulario */
    .formulario{
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-bottom: 0;
    }
    #botones{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding-bottom: 15px;
        font-size: 18px;
    }
    
}