* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
	scroll-behavior: smooth;
}
.contenido {
    min-height: 78vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
}

/* MENÚ DE CATEGORÍAS */


.conteiner-generos {
    background-color: #eeeeee;
    padding-left: 1%;
    padding-top: 1%;
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}
section {
    padding: 10px;
}
/* TÍTULO DEL GÉNERO */
.titulo-genero{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
    background-color: #02b8b8;
    color: rgb(235, 235, 235);
}

h4 {
    text-align: center;
    padding: 5px;
}

/* FIN TÍTULO DEL GÉNERO */

/* CONTENEDOR DE LOS ARTÍCULOS DE UN GÉNERO */
.conteiner-artista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    grid-auto-rows: minmax(320px, auto);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

/* ARTICULOS */
article {
    margin: 0 auto;
    background-color: rgb(226, 225, 225);
    transition: transform 0.3s ease-in-out;
}

article:hover {
    transform: scale(1.04);
    border-radius: 9px;
}

.artista {
    border-radius: 9px;
    padding: 10px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
}
.artista:hover {
    background-color: #02b8b8;
}
.imagen {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    text-align: center;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 290px;
}

.foto {
    width: 100%;
    height: 100%;
}

.descripcion{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.descripcion > p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.precio{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.precio, .valor > p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* FIN ARTICULOS -*/








