/*GENERAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
	scroll-behavior: smooth;
}
.contenido {
    min-height: 78vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    background-color: #454951
}

/* HEADER */
.cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 14vh;
    width: 100%;
    /*background-color: #02b8b8;*/
    background-color: #1b1b1b;
    color: #ffffff
}
header {
    width: 100%;
    height: 100%;
}

.encabezado {
    display: grid;
    grid-template-columns: 90px calc(100% - 200px) 110px;
    width: 100%;
}
.imagen-encabezado {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    width: 70px;
    height: 70px;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}
.carrito > i{
    font-size: 35px;
}
#preciocarrito > p{
    font-size: 20px;
    font-weight: bold;
}



#logo:hover{
    cursor: pointer;
}

@media screen and (min-width:768px){
    .titulo {
        font-size: 25px;
    }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .titulo {
        font-size: 22px;
    }
}
@media screen and (max-width: 480px) {
    .titulo {
        font-size: 16px;
    }
    .contenido {
        min-height: 78vh;
        max-height: auto;
        display: flex;
        flex-direction: column;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (max-width: 290px) {
    .encabezado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    
}
/* END HEADER */


/* FOOTER */

footer {
    align-items: center;
    min-height: 50px;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    /*background-color: #02b8b8;*/
    background-color: #1b1b1b;
    color: #ffffff;
    min-height: 8vh;
    display: flex;
    text-align: center;
    justify-content: center;
}
/*end footer*/
